flows.json
[{"id":"3e8470cc42780d11","type":"tab","label":"Path Forensic","disabled":false,"info":"","env":[]},{"id":"be9b06f1c43b372f","type":"tab","label":"Path Data","disabled":false,"info":"","env":[]},{"id":"c35ad274dc66c583","type":"tab","label":"Playback","disabled":false,"info":"","env":[]},{"id":"5f984b1e39a7e344","type":"tab","label":"CSS & JS","disabled":false,"info":"","env":[]},{"id":"f4f69ff716086414","type":"group","z":"3e8470cc42780d11","name":"Selection","style":{"stroke":"#000000","fill":"#ffefbf","label":true,"color":"#000000"},"nodes":["fc375603f0edfb92","e5ac9b4d618c7eb2","725a97fd5067faf8","33a379a37e023417","b4ba4c411e692b93","fb94fdd4221243b2","5cd87f5f361ccaec","a655fd3926e3d3fd","13895d4d397dfe88","996b6b97c9c51648","21cf091d81d19c37","a81f18750aab6e3b","b62da5d5e22936a9","55c8b97c6923c58e","84afad46997cfc5c","0c3fd3261d58a221","caeed1453f61a679","dfc202c6eeb5b139","ad7d339d6d41f56c","c73bbd21bc1920ff","8fe7a602f74ae8b5","24bb69e6a8dfc9f9","096b4ef1c29866f0","9d3f8a2bc8b38df9","1feba6d1c9804c51","fad860f19f69d322","117c6764fb4bfd6b","7813471566c2b117","0e50ed0c98392de7","6f7fb09d74c16a54","820e70b5deb2f071","e1940d9755e0771d","b7874fc4bed821f3","87c43fb26b010dda","666c5cb0683bfedd","ce28d6cc141eade8","2bf1a153d3816ded","6c9a299732ac8716","217765890ecc866d","b1ee38fda6164fed","74aa3dce52a06160","6b7788f6fc5f61f4","a689eae2b791cd8c","b8b06d159f9508ce","48e62a2d4e2014d7","fae9b3bd19f5fef4"],"x":234,"y":499,"w":1012,"h":962},{"id":"50f730a02bcd6ec2","type":"group","z":"3e8470cc42780d11","name":"Query","style":{"stroke":"#000000","fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["a4f30efcc5f7bf8a","5f3da6d186c91f72","8df44f6d2df9ca88","48108424511954db","ae7894a6441ce614","b383a4a8fe79a3b0","e9ffdbb8b0ac3efe"],"x":234,"y":239,"w":732,"h":202},{"id":"24221d95c9781106","type":"group","z":"3e8470cc42780d11","name":"Results","style":{"stroke":"#000000","fill":"#ffffbf","label":true,"color":"#000000"},"nodes":["d554408907154759","04355ba9e143d9d4","7841e7344a4d1e82","efe595d3210c1e1e","765897100a8ae095","fbcb7845b5141037","a5a27649d2f01f10"],"x":234,"y":39,"w":732,"h":162},{"id":"48e62a2d4e2014d7","type":"junction","z":"3e8470cc42780d11","g":"f4f69ff716086414","x":390,"y":1000,"wires":[["c73bbd21bc1920ff","24bb69e6a8dfc9f9","096b4ef1c29866f0","8fe7a602f74ae8b5","6c9a299732ac8716"]]},{"id":"7f79972c3bb055b3","type":"mongodb","hostname":"${MONGODB_ADDRESS}","topology":"direct","connectOptions":"","port":"27017","db":"objects","name":""},{"id":"4c030182e8855802","type":"ui_group","name":"Heatmap","tab":"2561cd797917c95b","order":2,"disp":false,"width":"16","collapse":false,"className":""},{"id":"2561cd797917c95b","type":"ui_tab","name":"Path Forensic","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"24f41bc8682bee52","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Path Forensic","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"37b666b3bc36b99a","type":"ui_group","name":"Select","tab":"2561cd797917c95b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"293c31010c7097b5","type":"ui_group","name":"Table","tab":"2561cd797917c95b","order":3,"disp":true,"width":"14","collapse":false,"className":""},{"id":"6cb4cac81be7fe8d","type":"ui_link","name":"Flow","link":"/admin","icon":"open_in_browser","target":"iframe","order":9},{"id":"0a4a6f22a740d004","type":"mqtt-broker","name":"MQTT Broker","broker":"${MQTT_BROKER_ADDRESS}","port":"${MQTT_BROKER_PORT}","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fc375603f0edfb92","type":"mongodb in","z":"3e8470cc42780d11","g":"f4f69ff716086414","mongodb":"7f79972c3bb055b3","name":"","collection":"image","operation":"aggregate","x":600,"y":540,"wires":[["5cd87f5f361ccaec"]]},{"id":"e5ac9b4d618c7eb2","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"Options","func":"msg.options = [];\nmsg.payload.forEach(function(item){\n    var option = {};\n    option[item.name] = item.device;\n    msg.options.push(option);\n});\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":600,"wires":[["725a97fd5067faf8"]]},{"id":"725a97fd5067faf8","type":"ui_dropdown","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","label":"Camera","tooltip":"","place":"Select camera","group":"37b666b3bc36b99a","order":2,"width":"5","height":"1","passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":740,"y":600,"wires":[["996b6b97c9c51648"]]},{"id":"33a379a37e023417","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"Query","func":"msg.payload = {\n    device: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":660,"wires":[["b4ba4c411e692b93"]]},{"id":"b4ba4c411e692b93","type":"mongodb in","z":"3e8470cc42780d11","g":"f4f69ff716086414","mongodb":"7f79972c3bb055b3","name":"","collection":"image","operation":"find","x":840,"y":660,"wires":[["fb94fdd4221243b2"]]},{"id":"fb94fdd4221243b2","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"image","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":660,"wires":[["069efe34719baf96"]]},{"id":"5cd87f5f361ccaec","type":"sort","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"name","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":870,"y":540,"wires":[["e5ac9b4d618c7eb2"]]},{"id":"a655fd3926e3d3fd","type":"ui_button","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","group":"37b666b3bc36b99a","order":1,"width":0,"height":0,"passthru":false,"label":"reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":540,"wires":[["fc375603f0edfb92","13895d4d397dfe88","b7874fc4bed821f3","666c5cb0683bfedd"]]},{"id":"13895d4d397dfe88","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"Clear image","func":"msg.topic = \"image\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    image: \"\"\n}\nflow.set(\"list\",[]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":740,"wires":[["0c3fd3261d58a221"]]},{"id":"996b6b97c9c51648","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"device","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg","dc":true},{"t":"set","p":"list","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":600,"wires":[["33a379a37e023417","fae9b3bd19f5fef4"]]},{"id":"21cf091d81d19c37","type":"ui_button","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","group":"37b666b3bc36b99a","order":7,"width":"3","height":"1","passthru":false,"label":"Birth","tooltip":"","color":"","bgcolor":"green","className":"","icon":"tab_unselected","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":350,"y":1300,"wires":[["a81f18750aab6e3b"]]},{"id":"a81f18750aab6e3b","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"aoi","func":"msg.topic = \"aoi\";\nmsg.payload = flow.get(\"birth\") || {\n    id: \"birth\",\n    x1: 400,\n    y1: 400,\n    x2: 600,\n    y2: 600\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1300,"wires":[["caeed1453f61a679"]]},{"id":"b62da5d5e22936a9","type":"ui_button","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","group":"37b666b3bc36b99a","order":9,"width":"3","height":"1","passthru":false,"label":"Hide","tooltip":"","color":"black","bgcolor":"yellow","className":"","icon":"tab_unselected","payload":"false","payloadType":"bool","topic":"aoi","topicType":"str","x":550,"y":1380,"wires":[["caeed1453f61a679"]]},{"id":"55c8b97c6923c58e","type":"ui_button","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","group":"37b666b3bc36b99a","order":8,"width":"3","height":"1","passthru":false,"label":"Death","tooltip":"","color":"","bgcolor":"red","className":"","icon":"tab_unselected","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":350,"y":1340,"wires":[["820e70b5deb2f071"]]},{"id":"84afad46997cfc5c","type":"ui_button","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","group":"37b666b3bc36b99a","order":9,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"false","payloadType":"bool","topic":"aoi","topicType":"str","x":350,"y":1420,"wires":[["e1940d9755e0771d"]]},{"id":"0c3fd3261d58a221","type":"link out","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link out 2","mode":"link","links":["5add1e76f8dfd42a","b8b06d159f9508ce","0e8e3ffb18f59220"],"x":685,"y":740,"wires":[]},{"id":"caeed1453f61a679","type":"link out","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link out 3","mode":"link","links":["fec971a0e1a44521","5add1e76f8dfd42a","0e8e3ffb18f59220"],"x":675,"y":1300,"wires":[]},{"id":"dfc202c6eeb5b139","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"strength","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"strength","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1000,"wires":[["6f7fb09d74c16a54"]]},{"id":"a4f30efcc5f7bf8a","type":"change","z":"3e8470cc42780d11","g":"50f730a02bcd6ec2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"paths","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["9a0233a672a0aba4"]]},{"id":"ad7d339d6d41f56c","type":"ui_slider","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","label":"Strength","tooltip":"","group":"4c030182e8855802","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"strength","topicType":"str","min":"5","max":"100","step":"0.5","className":"","x":760,"y":1000,"wires":[["dfc202c6eeb5b139"]]},{"id":"5f3da6d186c91f72","type":"mongodb in","z":"3e8470cc42780d11","g":"50f730a02bcd6ec2","mongodb":"7f79972c3bb055b3","name":"","collection":"path","operation":"find","x":770,"y":280,"wires":[["e9ffdbb8b0ac3efe"]]},{"id":"c73bbd21bc1920ff","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"strength","rules":[{"t":"set","p":"payload","pt":"msg","to":"strength","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1000,"wires":[["ad7d339d6d41f56c"]]},{"id":"8df44f6d2df9ca88","type":"function","z":"3e8470cc42780d11","g":"50f730a02bcd6ec2","name":"Build query","func":"var startTime = flow.get(\"startTime\") || \"today\";\nif (startTime === \"today\" || startTime === \"yesterday\") {\n    if (startTime === \"today\") {\n        var d = new Date();\n        d.setHours(0, 0, 0, 0);\n        startTime = d.getTime();\n    }\n    if (startTime === \"yesterday\") {\n        var d = new Date();\n        d.setDate(d.getDate() - 1);\n        d.setHours(0, 0, 0, 0);\n        startTime = d.getTime();\n    }\n} else {\n    startTime = new Date().getTime() - (startTime * 3600 * 1000);\n}\n\nvar duration = flow.get(\"duration\") || 0;\n\nif (duration > 0) {\n    duration = startTime + (duration * 24 * 3600 * 1000);\n}\n\n\nmsg.payload = {\n    device: flow.get(\"device\"),\n    timestamp: {\n        $gte: startTime\n    }\n}\n\nif (duration > 0)\n    msg.payload.timestamp[\"$lte\"] = duration\n\nvar type = flow.get(\"class\") || \"All\";\nif( type !== \"All\")\n    msg.payload.class = type;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["5f3da6d186c91f72"]]},{"id":"48108424511954db","type":"ui_button","z":"3e8470cc42780d11","g":"50f730a02bcd6ec2","name":"","group":"37b666b3bc36b99a","order":6,"width":0,"height":0,"passthru":true,"label":"Query","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":280,"wires":[["8df44f6d2df9ca88"]]},{"id":"8fe7a602f74ae8b5","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"Class","func":"msg.payload = flow.get(\"class\") || \"All\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1120,"wires":[["9d3f8a2bc8b38df9"]]},{"id":"24bb69e6a8dfc9f9","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"startTime","func":"msg.payload = flow.get(\"startTime\") || \"today\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1040,"wires":[["1feba6d1c9804c51"]]},{"id":"096b4ef1c29866f0","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"duration","func":"msg.payload = flow.get(\"duration\") || 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1080,"wires":[["fad860f19f69d322"]]},{"id":"9d3f8a2bc8b38df9","type":"ui_dropdown","z":"3e8470cc42780d11","d":true,"g":"f4f69ff716086414","name":"Class selection","label":"Class","tooltip":"","place":"Select detection","group":"37b666b3bc36b99a","order":5,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":"All","value":"All","type":"str"},{"label":"Human","value":"Human","type":"str"},{"label":"Car","value":"Car","type":"str"},{"label":"Truck","value":"Truck","type":"str"},{"label":"Bus","value":"Bus","type":"str"},{"label":"Motorcycle","value":"Motorcycle","type":"str"},{"label":"Other vehicle type","value":"Vehicle","type":"str"},{"label":"Face","value":"Face","type":"str"},{"label":"License plate","value":"License plate","type":"str"},{"label":"Object","value":"Object","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":780,"y":1120,"wires":[["117c6764fb4bfd6b"]]},{"id":"1feba6d1c9804c51","type":"ui_dropdown","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"From","label":"From","tooltip":"","place":"Select option","group":"37b666b3bc36b99a","order":3,"width":"5","height":"1","passthru":false,"multiple":false,"options":[{"label":"Today","value":"today","type":"str"},{"label":"Yesterday","value":"yesterday","type":"str"},{"label":"30 min","value":0.5,"type":"num"},{"label":"1 hour","value":1,"type":"num"},{"label":"2 hours","value":2,"type":"num"},{"label":"3 hours","value":3,"type":"num"},{"label":"6 hours","value":6,"type":"num"},{"label":"12 hours","value":12,"type":"num"},{"label":"24 hours","value":"24","type":"str"},{"label":"2 days","value":"48","type":"str"},{"label":"7 days","value":"168","type":"str"},{"label":"2 weeks","value":"336","type":"str"},{"label":"4 weeks","value":"672","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":750,"y":1040,"wires":[["7813471566c2b117"]]},{"id":"fad860f19f69d322","type":"ui_dropdown","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"Period","label":"Period","tooltip":"","place":"Select option","group":"37b666b3bc36b99a","order":4,"width":"5","height":"1","passthru":false,"multiple":false,"options":[{"label":"Until now","value":0,"type":"num"},{"label":"1 day","value":1,"type":"num"},{"label":"1 week","value":7,"type":"num"},{"label":"1 month","value":30,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":750,"y":1080,"wires":[["0e50ed0c98392de7"]]},{"id":"117c6764fb4bfd6b","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"flow.classes","rules":[{"t":"set","p":"class","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1120,"wires":[[]]},{"id":"7813471566c2b117","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"startTime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1040,"wires":[[]]},{"id":"0e50ed0c98392de7","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"duration","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1080,"wires":[[]]},{"id":"6f7fb09d74c16a54","type":"link out","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link out 4","mode":"link","links":["9132b9ec5658eb63","5add1e76f8dfd42a","0e8e3ffb18f59220"],"x":1195,"y":1000,"wires":[]},{"id":"820e70b5deb2f071","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"aoi","func":"msg.topic = \"aoi\";\nmsg.payload = flow.get(\"death\") || {\n    id: \"death\",\n    x1: 400,\n    y1: 400,\n    x2: 600,\n    y2: 600\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1340,"wires":[["caeed1453f61a679"]]},{"id":"ae7894a6441ce614","type":"function","z":"3e8470cc42780d11","g":"50f730a02bcd6ec2","name":"filter","func":"var list = flow.get(\"list\");\n\nvar search = flow.get(\"search\");\nif( search && search.length ) {\n    var searchList = [];\n    search = search.toLowerCase();\n    list.forEach(function(path){\n        var match = false;\n        if (path.hasOwnProperty(\"attribute\") && path.attribute.toLowerCase().search(search) >= 0)\n            match = true;\n        if(!match && path.class.toLowerCase().search(search) >= 0)\n            match = true;\n        if (!match && path.localTime.search(search) >= 0)\n            match = true;\n        if (!match && path.hasOwnProperty(\"color\") && path.color.toLowerCase().search(search) >= 0)\n            match = true;\n        if( match )\n            searchList.push(path);\n    });\n    list = searchList;\n}\n\nvar matchBirth = [];\nvar birth = flow.get(\"birth\");\nif( birth ){\n    list.forEach(function(path){\n        if( path.hasOwnProperty(\"path\")) {\n            var firstDetection = path.path[0];\n            if (firstDetection.x > birth.x1 && firstDetection.x < birth.x2 && firstDetection.y > birth.y1 && firstDetection.y < birth.y2 )\n                matchBirth.push(path);\n        }\n    });\n    list = matchBirth;\n}\n\nvar matchDeath = [];\nvar death = flow.get(\"death\");\nif (death) {\n    list.forEach(function (path) {\n        if (path.hasOwnProperty(\"path\")) {\n            var lastDetection = path.path[path.path.length-1];\n            if (lastDetection.x > death.x1 && lastDetection.x < death.x2 && lastDetection.y > death.y1 && lastDetection.y < death.y2 )\n                matchDeath.push(path);\n        }\n    });\n    list = matchDeath;\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":400,"wires":[["a4f30efcc5f7bf8a"]]},{"id":"e1940d9755e0771d","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"function 1","func":"flow.set(\"birth\",null);\nflow.set(\"death\", null);\nmsg.topic = \"aoi\";\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1420,"wires":[["ce28d6cc141eade8"]]},{"id":"b383a4a8fe79a3b0","type":"change","z":"3e8470cc42780d11","g":"50f730a02bcd6ec2","name":"","rules":[{"t":"set","p":"list","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":340,"wires":[["ae7894a6441ce614"]]},{"id":"b7874fc4bed821f3","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"aoi","tot":"str"},{"t":"set","p":"birth","pt":"flow","to":"null","tot":"json"},{"t":"set","p":"death","pt":"flow","to":"null","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":780,"wires":[["0c3fd3261d58a221"]]},{"id":"87c43fb26b010dda","type":"link in","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link in 2","links":["b989db0a6c2d71e6","fae9b3bd19f5fef4"],"x":315,"y":780,"wires":[["b7874fc4bed821f3","666c5cb0683bfedd"]]},{"id":"666c5cb0683bfedd","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"search","pt":"flow","to":"null","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":820,"wires":[["73315a666a97d1b3"]]},{"id":"ce28d6cc141eade8","type":"link out","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link out 8","mode":"link","links":["e61e7de42d92f212","5add1e76f8dfd42a","0e8e3ffb18f59220"],"x":675,"y":1420,"wires":[]},{"id":"2bf1a153d3816ded","type":"ui_text_input","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","label":"Search","tooltip":"","group":"293c31010c7097b5","order":1,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":760,"y":1160,"wires":[["217765890ecc866d"]]},{"id":"6c9a299732ac8716","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"Search","func":"flow.set(\"search\",null);\nmsg.pyload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1160,"wires":[["2bf1a153d3816ded"]]},{"id":"217765890ecc866d","type":"change","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","rules":[{"t":"set","p":"search","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1160,"wires":[["b1ee38fda6164fed"]]},{"id":"b1ee38fda6164fed","type":"link out","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link out 10","mode":"link","links":["e61e7de42d92f212"],"x":1205,"y":1160,"wires":[]},{"id":"74aa3dce52a06160","type":"ui_button","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"","group":"293c31010c7097b5","order":2,"width":"1","height":"1","passthru":false,"label":"X","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":1200,"wires":[["6b7788f6fc5f61f4"]]},{"id":"6b7788f6fc5f61f4","type":"function","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"Reset search","func":"flow.set(\"search\",\"\");\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1200,"wires":[["2bf1a153d3816ded","a689eae2b791cd8c"]]},{"id":"a689eae2b791cd8c","type":"link out","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link out 11","mode":"link","links":["e61e7de42d92f212"],"x":725,"y":1200,"wires":[]},{"id":"b8b06d159f9508ce","type":"link in","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link in 4","links":["174f450b8e2c090a","0c3fd3261d58a221"],"x":455,"y":1240,"wires":[["6b7788f6fc5f61f4"]]},{"id":"80162b39ec75da52","type":"link in","z":"3e8470cc42780d11","name":"link in 5","links":["f0947b6bb7650aef"],"x":175,"y":280,"wires":[["48108424511954db"]]},{"id":"fae9b3bd19f5fef4","type":"link out","z":"3e8470cc42780d11","g":"f4f69ff716086414","name":"link out 13","mode":"link","links":["92525a08c2abcdb3","51bb253226db2553","87c43fb26b010dda"],"x":1095,"y":600,"wires":[]},{"id":"0e8e3ffb18f59220","type":"link in","z":"3e8470cc42780d11","name":"Heatmap","links":["069efe34719baf96","0c3fd3261d58a221","6f7fb09d74c16a54","9a0233a672a0aba4","caeed1453f61a679","ce28d6cc141eade8","e396cbd81098d3cc","f4279a07d70161a6"],"x":195,"y":80,"wires":[["04355ba9e143d9d4"]]},{"id":"19b4f3cdcf59d9ba","type":"link in","z":"3e8470cc42780d11","name":"Table","links":["9a0233a672a0aba4","73315a666a97d1b3"],"x":195,"y":120,"wires":[["765897100a8ae095","fbcb7845b5141037"]]},{"id":"d554408907154759","type":"ui_table","z":"3e8470cc42780d11","g":"24221d95c9781106","group":"293c31010c7097b5","name":"","order":3,"width":"14","height":"16","columns":[{"field":"localTime","title":"Time","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"class","title":"Class","width":"17%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"attribute","title":"Attributes","width":"18%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"age","title":"Age","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"confidence","title":"Confidence","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distance","title":"Distance","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":490,"y":120,"wires":[["efe595d3210c1e1e"]]},{"id":"04355ba9e143d9d4","type":"ui_template","z":"3e8470cc42780d11","g":"24221d95c9781106","group":"4c030182e8855802","name":"Heatmap","order":6,"width":"16","height":"16","format":"<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n<script>\n  var ctx = null;\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar strength = 0.5;\nvar pathList = [];\nvar selectArea = null;\nvar aoi = null;\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n\n}\n\nfunction setupImage( scope, data ) {\n    var rotation = data.rotation || 0;\n    var aspect = data.aspect || \"16:6\";\n    imageWidth = 800;  //Default for 16:9\n    imageHeight = 450;\n\n    ClearCanvas();\n\n    if(aspect === \"1:1\")\n        imageHeight = 800;\n\n    if(aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if(rotation === \"Portrait\" || rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    if( data.hasOwnProperty(\"image\") && data.image )\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + data.image);\n    else\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64, \");\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.globalAlpha = strength;\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        $(\"#canvas_\"+scope.$id).show();\n\n        $(\"#video_\"+scope.$id).empty();\n\n        switch( msg.topic ) {\n        case \"image\":\n            setupImage(scope,msg.payload);\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"selectPath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            $(\"#video_\"+scope.$id).empty();\n            if( !msg.payload.playback )\n                return;\n            var playerHTML = '<video id=\"#player_' + scope.$id + '\" width=\"' + imageWidth + 'px\" controls><source src=\"' + msg.payload.playback.src + '\" type=\"video/mp4\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></video>';\n            $(\"#video_\"+scope.$id).append(playerHTML);\n            var player = document.getElementById(\"#player_\"+scope.$id);\n            player.currentTime = msg.payload.playback.offset || 0;\n            player.play();\n            setTimeout(function() {\n                $(\"#canvas_\"+scope.$id).hide();\n            }, (msg.payload.playback.duration * 1000)/3);\n\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"strength\":\n            ClearCanvas();\n            strength = (parseInt(msg.payload) / 100.0 ) * 0.5;\n            pathList.forEach( function(path) {\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n            ClearCanvas();\n            break;\n\n        case \"aoi\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            if( typeof msg.payload !== \"object\" )\n                return;\n            aoi = msg.payload.id || \"None\";\n            selectArea = $(\"#image_\"+scope.$id).imgAreaSelect({\n                x1: parseInt((msg.payload.x1 / 1000) * imageWidth),\n                y1: parseInt((msg.payload.y1 / 1000) * imageHeight),\n                x2: parseInt((msg.payload.x2 / 1000) * imageWidth),\n                y2: parseInt((msg.payload.y2 / 1000) * imageHeight),\n                minHeight: 20,\n                minWidth: 20,\n                handles: true,\n                enable:true,movable:true,resizable:true,show:true,\n                instance: true,\n                onSelectEnd: function( image, area ) {\n                var box = {\n                    id: aoi,\n                    x1: parseInt((area.x1 / imageWidth) * 1000),\n                    x2: parseInt((area.x2 / imageWidth) * 1000),\n                    y1: parseInt((area.y1 / imageHeight) * 1000),\n                    y2: parseInt((area.y2 / imageHeight) * 1000)\n                }\n                scope.send({topic:aoi||\"none\",payload:box});\n                }\n            });\n            selectArea.setOptions({show: true});\n            break;\n            case \"birth\":\n            case \"death\":\n                aoi = msg.topic;\n                if(!selectArea) {\n                    selectArea = $(\"#image_\"+scope.$id).imgAreaSelect( {\n                        x1: parseInt(msg.payload.x1 / 1000 * imageWidth),\n                        x2: parseInt(msg.payload.x2 / 1000 * imageWidth),\n                        y1: parseInt(msg.payload.y1 / 1000 * imageHeight),\n                        y2: parseInt(msg.payload.y2 / 1000 * imageHeight),\n                        show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                        onSelectEnd: function( image, area ) {\n                            var area = {\n                                id: aoi,\n                                x1: parseInt((area.x1/imageWidth) * 1000),\n                                x2: parseInt((area.x2/imageWidth) * 1000),\n                                y1: parseInt((area.y1/imageHeight) * 1000),\n                                y2: parseInt((area.y2/imageHeight) * 1000)\n                            }\n                            scope.send({\n                                topic: aoi,\n                                payload: area\n                            });\n                        }\n                    });\n                }\n                selectArea.setSelection(\n                    parseInt(msg.payload.x1 / 1000 * imageWidth),\n                    parseInt(msg.payload.y1 / 1000 * imageHeight),\n                    parseInt(msg.payload.x2 / 1000 * imageWidth),\n                    parseInt(msg.payload.y2 / 1000 * imageHeight)\n                );\n                selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":320,"y":80,"wires":[["7841e7344a4d1e82"]]},{"id":"7841e7344a4d1e82","type":"function","z":"3e8470cc42780d11","g":"24221d95c9781106","name":"aoi","func":"var aoi = flow.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":80,"wires":[["365ef1447286d471"]]},{"id":"efe595d3210c1e1e","type":"change","z":"3e8470cc42780d11","g":"24221d95c9781106","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"selectPath","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["a5a27649d2f01f10"]]},{"id":"765897100a8ae095","type":"change","z":"3e8470cc42780d11","g":"24221d95c9781106","name":"Dubplicate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["d554408907154759"]]},{"id":"e9ffdbb8b0ac3efe","type":"function","z":"3e8470cc42780d11","g":"50f730a02bcd6ec2","name":"Attributes","func":"msg.payload.forEach(function(item){\n    var attribute = \"\";\n    if( item.face )\n        attribute += \"Face \";\n    if( item.hat && item.hat.length )\n        attribute += item.hat + \"\";\n    if( item.color && item.color.length )\n        attribute += item.color;\n    if( item.color2 && item.color2.length )\n        attribute += \"/\" + item.color2;\n    if( item.bag && item.bag.length )\n        attribute += item.bag + \" \";\n    item.attribute = attribute;\n});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["b383a4a8fe79a3b0"]]},{"id":"fbcb7845b5141037","type":"ui_template","z":"3e8470cc42780d11","g":"24221d95c9781106","group":"293c31010c7097b5","name":"Hits","order":3,"width":"6","height":"1","format":"<h3>{{msg.payload.length}} hits</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":310,"y":160,"wires":[[]]},{"id":"a5a27649d2f01f10","type":"link call","z":"3e8470cc42780d11","g":"24221d95c9781106","name":"","links":["dbfa37d197bb7bbd"],"linkType":"static","timeout":"30","x":850,"y":120,"wires":[["e396cbd81098d3cc"]]},{"id":"e396cbd81098d3cc","type":"link out","z":"3e8470cc42780d11","name":"link out 9","mode":"link","links":["5add1e76f8dfd42a","0e8e3ffb18f59220"],"x":1015,"y":120,"wires":[]},{"id":"069efe34719baf96","type":"link out","z":"3e8470cc42780d11","name":"Image","mode":"link","links":["0e8e3ffb18f59220"],"x":1295,"y":660,"wires":[]},{"id":"9a0233a672a0aba4","type":"link out","z":"3e8470cc42780d11","name":"paths","mode":"link","links":["5add1e76f8dfd42a","19b4f3cdcf59d9ba","0e8e3ffb18f59220"],"x":1025,"y":400,"wires":[]},{"id":"e61e7de42d92f212","type":"link in","z":"3e8470cc42780d11","name":"link in 1","links":["365ef1447286d471","ce28d6cc141eade8","b1ee38fda6164fed","a689eae2b791cd8c","2877384aa68e0267"],"x":175,"y":340,"wires":[["ae7894a6441ce614"]]},{"id":"365ef1447286d471","type":"link out","z":"3e8470cc42780d11","name":"link out 5","mode":"link","links":["e61e7de42d92f212"],"x":1015,"y":80,"wires":[]},{"id":"3f83a85b243b847e","type":"inject","z":"3e8470cc42780d11","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1000,"wires":[["48e62a2d4e2014d7"]]},{"id":"73315a666a97d1b3","type":"link out","z":"3e8470cc42780d11","name":"Reset","mode":"link","links":["19b4f3cdcf59d9ba"],"x":1295,"y":820,"wires":[]},{"id":"9dcb470b4e32c1d3","type":"comment","z":"3e8470cc42780d11","name":"Image","info":"","x":1370,"y":660,"wires":[]},{"id":"49894deb23008768","type":"comment","z":"3e8470cc42780d11","name":"Reset","info":"","x":1370,"y":820,"wires":[]},{"id":"6cd81ad49b3153c9","type":"mongodb out","z":"be9b06f1c43b372f","mongodb":"7f79972c3bb055b3","name":"","collection":"path","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":630,"y":140,"wires":[]},{"id":"4f6b52d85a919a50","type":"mqtt in","z":"be9b06f1c43b372f","name":"","topic":"path/+","qos":"2","datatype":"auto-detect","broker":"0a4a6f22a740d004","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":140,"wires":[["44e5981dca30d5c7"]]},{"id":"0880d7997cf68895","type":"mqtt in","z":"be9b06f1c43b372f","name":"","topic":"image/+","qos":"2","datatype":"auto-detect","broker":"0a4a6f22a740d004","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":200,"wires":[["b4a545e3d7e1a2e0"]]},{"id":"b4a545e3d7e1a2e0","type":"function","z":"be9b06f1c43b372f","name":"Update","func":"msg.query = {\n    device: msg.payload.device\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["eff2af87e15a8ec5"]]},{"id":"eff2af87e15a8ec5","type":"mongodb out","z":"be9b06f1c43b372f","mongodb":"7f79972c3bb055b3","name":"","collection":"image","payonly":true,"upsert":true,"multi":false,"operation":"update","x":640,"y":200,"wires":[]},{"id":"4aa2988176caf821","type":"inject","z":"be9b06f1c43b372f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":260,"wires":[["bebc82268193087a"]]},{"id":"bebc82268193087a","type":"function","z":"be9b06f1c43b372f","name":"Data Retention","func":"var days = 30;\n//Change above to desired number of days to retain data\n\nmsg.payload = {\n    timestamp: {\n        $lte: new Date().getTime() - (days * 24 * 3600 * 1000)\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":260,"wires":[["63328377cc0892cc"]]},{"id":"63328377cc0892cc","type":"mongodb out","z":"be9b06f1c43b372f","mongodb":"7f79972c3bb055b3","name":"","collection":"path","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":760,"y":260,"wires":[]},{"id":"44e5981dca30d5c7","type":"function","z":"be9b06f1c43b372f","name":"Local Time","func":"var d = new Date(msg.payload.timestamp);\nmsg.payload.localTime = d.getFullYear() + '-';\nmsg.payload.localTime += (\"00\" + (d.getMonth() + 1)).slice(-2) + '-';\nmsg.payload.localTime += (\"00\" + d.getDate()).slice(-2) + ' ';\nmsg.payload.localTime += (\"00\" + d.getHours()).slice(-2) + ':';\nmsg.payload.localTime += (\"00\" + d.getMinutes()).slice(-2) + ':';\nmsg.payload.localTime += (\"00\" + d.getSeconds()).slice(-2);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["6cd81ad49b3153c9"]]},{"id":"aee03d59b2bf9ed6","type":"link out","z":"c35ad274dc66c583","name":"link out 32","mode":"return","links":[],"x":955,"y":100,"wires":[]},{"id":"b556a2c4f97f7c88","type":"change","z":"c35ad274dc66c583","name":"","rules":[{"t":"set","p":"payload.playback","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":100,"wires":[["aee03d59b2bf9ed6"]]},{"id":"dbfa37d197bb7bbd","type":"link in","z":"c35ad274dc66c583","name":"Recordeer Playback","links":[],"x":225,"y":100,"wires":[["79b11faa4593a31b"]]},{"id":"f12a9fe92121a654","type":"link out","z":"c35ad274dc66c583","name":"link out 15","mode":"return","links":[],"x":225,"y":440,"wires":[]},{"id":"c83a8d728b98141c","type":"debug","z":"c35ad274dc66c583","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":240,"wires":[]},{"id":"306b0e61dc62b7df","type":"http request","z":"c35ad274dc66c583","name":"http://rec.juhlin.me/find?serial=X&timestamp=Y","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":true,"headers":[],"x":710,"y":300,"wires":[["77c9f95eb9702ce1","1bc8a2beee0aa725"]]},{"id":"c91711dbbf8b2fba","type":"function","z":"c35ad274dc66c583","name":"Recorder URL","func":"msg.url = 'http://rec.juhlin.me/list?serial='+msg.payload.device;\nmsg.url += '&timestamp=' + msg.payload.timestamp;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["306b0e61dc62b7df","c83a8d728b98141c"]]},{"id":"d084ce255eefccd0","type":"change","z":"c35ad274dc66c583","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["c91711dbbf8b2fba","dcf7303ec9ceec41"]]},{"id":"f9d3c7fcd1b98e74","type":"debug","z":"c35ad274dc66c583","name":"debug 164","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.playback","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":360,"wires":[]},{"id":"77c9f95eb9702ce1","type":"debug","z":"c35ad274dc66c583","name":"debug 165","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":300,"wires":[]},{"id":"1bc8a2beee0aa725","type":"function","z":"c35ad274dc66c583","name":"playback","func":"if( Array.isArray(msg.payload) && msg.payload.length > 0 ) {\n    var playback = msg.payload[0];\n    msg.payload = msg.path;\n    msg.payload.playback = playback;\n    return msg;\n}\n\nmsg.payload = msg.path;\nmsg.payload.playback = null;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":360,"wires":[["f12a9fe92121a654","f9d3c7fcd1b98e74"]]},{"id":"dcf7303ec9ceec41","type":"debug","z":"c35ad274dc66c583","name":"debug 166","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":180,"wires":[]},{"id":"66f6d6ad440e5bea","type":"switch","z":"c35ad274dc66c583","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":100,"wires":[["b556a2c4f97f7c88"],["d084ce255eefccd0"]]},{"id":"79b11faa4593a31b","type":"change","z":"c35ad274dc66c583","name":"","rules":[{"t":"set","p":"recorder","pt":"msg","to":"RECORDER_ADDRESS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":100,"wires":[["66f6d6ad440e5bea"]]},{"id":"cfd224fa1dfeaae0","type":"ui_template","z":"5f984b1e39a7e344","group":"37b666b3bc36b99a","name":"JS & CSS","order":10,"width":0,"height":0,"format":"<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":180,"y":80,"wires":[[]]},{"id":"76921b37cec82c0d","type":"http in","z":"5f984b1e39a7e344","name":"","url":"/js/jquery.imgareaselect.js","method":"get","upload":false,"swaggerDoc":"","x":240,"y":120,"wires":[["0018762e06184be0"]]},{"id":"0018762e06184be0","type":"template","z":"5f984b1e39a7e344","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/*\n * imgAreaSelect jQuery plugin\n * version 0.9.10\n *\n * Copyright (c) 2008-2013 Michal Wojciechowski (odyniec.net)\n *\n * Dual licensed under the MIT (MIT-LICENSE.txt)\n * and GPL (GPL-LICENSE.txt) licenses.\n *\n * http://odyniec.net/projects/imgareaselect/\n *\n */\n\n(function($) {\n\nvar abs = Math.abs,\n    max = Math.max,\n    min = Math.min,\n    round = Math.round;\n\nfunction div() {\n    return $('<div/>');\n}\n\n$.imgAreaSelect = function (img, options) {\n    var\n\n        $img = $(img),\n\n        imgLoaded,\n\n        $box = div(),\n        $area = div(),\n        $border = div().add(div()).add(div()).add(div()),\n        $outer = div().add(div()).add(div()).add(div()),\n        $handles = $([]),\n\n        $areaOpera,\n\n        left, top,\n\n        imgOfs = { left: 0, top: 0 },\n\n        imgWidth, imgHeight,\n\n        $parent,\n\n        parOfs = { left: 0, top: 0 },\n\n        zIndex = 0,\n\n        position = 'absolute',\n\n        startX, startY,\n\n        scaleX, scaleY,\n\n        resize,\n\n        minWidth, minHeight, maxWidth, maxHeight,\n\n        aspectRatio,\n\n        shown,\n\n        x1, y1, x2, y2,\n\n        selection = { x1: 0, y1: 0, x2: 0, y2: 0, width: 0, height: 0 },\n\n        docElem = document.documentElement,\n\n        ua = navigator.userAgent,\n\n        $p, d, i, o, w, h, adjusted;\n\n    function viewX(x) {\n        return x + imgOfs.left - parOfs.left;\n    }\n\n    function viewY(y) {\n        return y + imgOfs.top - parOfs.top;\n    }\n\n    function selX(x) {\n        return x - imgOfs.left + parOfs.left;\n    }\n\n    function selY(y) {\n        return y - imgOfs.top + parOfs.top;\n    }\n\n    function evX(event) {\n        return event.pageX - parOfs.left;\n    }\n\n    function evY(event) {\n        return event.pageY - parOfs.top;\n    }\n\n    function getSelection(noScale) {\n        var sx = noScale || scaleX, sy = noScale || scaleY;\n\n        return { x1: round(selection.x1 * sx),\n            y1: round(selection.y1 * sy),\n            x2: round(selection.x2 * sx),\n            y2: round(selection.y2 * sy),\n            width: round(selection.x2 * sx) - round(selection.x1 * sx),\n            height: round(selection.y2 * sy) - round(selection.y1 * sy) };\n    }\n\n    function setSelection(x1, y1, x2, y2, noScale) {\n        var sx = noScale || scaleX, sy = noScale || scaleY;\n\n        selection = {\n            x1: round(x1 / sx || 0),\n            y1: round(y1 / sy || 0),\n            x2: round(x2 / sx || 0),\n            y2: round(y2 / sy || 0)\n        };\n\n        selection.width = selection.x2 - selection.x1;\n        selection.height = selection.y2 - selection.y1;\n    }\n\n    function adjust() {\n        if (!imgLoaded || !$img.width())\n            return;\n\n        imgOfs = { left: round($img.offset().left), top: round($img.offset().top) };\n\n        imgWidth = $img.innerWidth();\n        imgHeight = $img.innerHeight();\n\n        imgOfs.top += ($img.outerHeight() - imgHeight) >> 1;\n        imgOfs.left += ($img.outerWidth() - imgWidth) >> 1;\n\n        minWidth = round(options.minWidth / scaleX) || 0;\n        minHeight = round(options.minHeight / scaleY) || 0;\n        maxWidth = round(min(options.maxWidth / scaleX || 1<<24, imgWidth));\n        maxHeight = round(min(options.maxHeight / scaleY || 1<<24, imgHeight));\n\n        if ($().jquery == '1.3.2' && position == 'fixed' &&\n            !docElem['getBoundingClientRect'])\n        {\n            imgOfs.top += max(document.body.scrollTop, docElem.scrollTop);\n            imgOfs.left += max(document.body.scrollLeft, docElem.scrollLeft);\n        }\n\n        parOfs = /absolute|relative/.test($parent.css('position')) ?\n            { left: round($parent.offset().left) - $parent.scrollLeft(),\n                top: round($parent.offset().top) - $parent.scrollTop() } :\n            position == 'fixed' ?\n                { left: $(document).scrollLeft(), top: $(document).scrollTop() } :\n                { left: 0, top: 0 };\n\n        left = viewX(0);\n        top = viewY(0);\n\n        if (selection.x2 > imgWidth || selection.y2 > imgHeight)\n            doResize();\n    }\n\n    function update(resetKeyPress) {\n        if (!shown) return;\n\n        $box.css({ left: viewX(selection.x1), top: viewY(selection.y1) })\n            .add($area).width(w = selection.width).height(h = selection.height);\n\n        $area.add($border).add($handles).css({ left: 0, top: 0 });\n\n        $border\n            .width(max(w - $border.outerWidth() + $border.innerWidth(), 0))\n            .height(max(h - $border.outerHeight() + $border.innerHeight(), 0));\n\n        $($outer[0]).css({ left: left, top: top,\n            width: selection.x1, height: imgHeight });\n        $($outer[1]).css({ left: left + selection.x1, top: top,\n            width: w, height: selection.y1 });\n        $($outer[2]).css({ left: left + selection.x2, top: top,\n            width: imgWidth - selection.x2, height: imgHeight });\n        $($outer[3]).css({ left: left + selection.x1, top: top + selection.y2,\n            width: w, height: imgHeight - selection.y2 });\n\n        w -= $handles.outerWidth();\n        h -= $handles.outerHeight();\n\n        switch ($handles.length) {\n        case 8:\n            $($handles[4]).css({ left: w >> 1 });\n            $($handles[5]).css({ left: w, top: h >> 1 });\n            $($handles[6]).css({ left: w >> 1, top: h });\n            $($handles[7]).css({ top: h >> 1 });\n        case 4:\n            $handles.slice(1,3).css({ left: w });\n            $handles.slice(2,4).css({ top: h });\n        }\n\n        if (resetKeyPress !== false) {\n            if ($.imgAreaSelect.onKeyPress != docKeyPress)\n                $(document).unbind($.imgAreaSelect.keyPress,\n                    $.imgAreaSelect.onKeyPress);\n\n            if (options.keys)\n                $(document)[$.imgAreaSelect.keyPress](\n                    $.imgAreaSelect.onKeyPress = docKeyPress);\n        }\n\n        if (msie && $border.outerWidth() - $border.innerWidth() == 2) {\n            $border.css('margin', 0);\n            setTimeout(function () { $border.css('margin', 'auto'); }, 0);\n        }\n    }\n\n    function doUpdate(resetKeyPress) {\n        adjust();\n        update(resetKeyPress);\n        x1 = viewX(selection.x1); y1 = viewY(selection.y1);\n        x2 = viewX(selection.x2); y2 = viewY(selection.y2);\n    }\n\n    function hide($elem, fn) {\n        options.fadeSpeed ? $elem.fadeOut(options.fadeSpeed, fn) : $elem.hide();\n\n    }\n\n    function areaMouseMove(event) {\n        var x = selX(evX(event)) - selection.x1,\n            y = selY(evY(event)) - selection.y1;\n\n        if (!adjusted) {\n            adjust();\n            adjusted = true;\n\n            $box.one('mouseout', function () { adjusted = false; });\n        }\n\n        resize = '';\n\n        if (options.resizable) {\n            if (y <= options.resizeMargin)\n                resize = 'n';\n            else if (y >= selection.height - options.resizeMargin)\n                resize = 's';\n            if (x <= options.resizeMargin)\n                resize += 'w';\n            else if (x >= selection.width - options.resizeMargin)\n                resize += 'e';\n        }\n\n        $box.css('cursor', resize ? resize + '-resize' :\n            options.movable ? 'move' : '');\n        if ($areaOpera)\n            $areaOpera.toggle();\n    }\n\n    function docMouseUp(event) {\n        $('body').css('cursor', '');\n        if (options.autoHide || selection.width * selection.height == 0)\n            hide($box.add($outer), function () { $(this).hide(); });\n\n        $(document).unbind('mousemove', selectingMouseMove);\n        $box.mousemove(areaMouseMove);\n\n        options.onSelectEnd(img, getSelection());\n    }\n\n    function areaMouseDown(event) {\n        if (event.which != 1) return false;\n\n        adjust();\n\n        if (resize) {\n            $('body').css('cursor', resize + '-resize');\n\n            x1 = viewX(selection[/w/.test(resize) ? 'x2' : 'x1']);\n            y1 = viewY(selection[/n/.test(resize) ? 'y2' : 'y1']);\n\n            $(document).mousemove(selectingMouseMove)\n                .one('mouseup', docMouseUp);\n            $box.unbind('mousemove', areaMouseMove);\n        }\n        else if (options.movable) {\n            startX = left + selection.x1 - evX(event);\n            startY = top + selection.y1 - evY(event);\n\n            $box.unbind('mousemove', areaMouseMove);\n\n            $(document).mousemove(movingMouseMove)\n                .one('mouseup', function () {\n                    options.onSelectEnd(img, getSelection());\n\n                    $(document).unbind('mousemove', movingMouseMove);\n                    $box.mousemove(areaMouseMove);\n                });\n        }\n        else\n            $img.mousedown(event);\n\n        return false;\n    }\n\n    function fixAspectRatio(xFirst) {\n        if (aspectRatio)\n            if (xFirst) {\n                x2 = max(left, min(left + imgWidth,\n                    x1 + abs(y2 - y1) * aspectRatio * (x2 > x1 || -1)));\n\n                y2 = round(max(top, min(top + imgHeight,\n                    y1 + abs(x2 - x1) / aspectRatio * (y2 > y1 || -1))));\n                x2 = round(x2);\n            }\n            else {\n                y2 = max(top, min(top + imgHeight,\n                    y1 + abs(x2 - x1) / aspectRatio * (y2 > y1 || -1)));\n                x2 = round(max(left, min(left + imgWidth,\n                    x1 + abs(y2 - y1) * aspectRatio * (x2 > x1 || -1))));\n                y2 = round(y2);\n            }\n    }\n\n    function doResize() {\n        x1 = min(x1, left + imgWidth);\n        y1 = min(y1, top + imgHeight);\n\n        if (abs(x2 - x1) < minWidth) {\n            x2 = x1 - minWidth * (x2 < x1 || -1);\n\n            if (x2 < left)\n                x1 = left + minWidth;\n            else if (x2 > left + imgWidth)\n                x1 = left + imgWidth - minWidth;\n        }\n\n        if (abs(y2 - y1) < minHeight) {\n            y2 = y1 - minHeight * (y2 < y1 || -1);\n\n            if (y2 < top)\n                y1 = top + minHeight;\n            else if (y2 > top + imgHeight)\n                y1 = top + imgHeight - minHeight;\n        }\n\n        x2 = max(left, min(x2, left + imgWidth));\n        y2 = max(top, min(y2, top + imgHeight));\n\n        fixAspectRatio(abs(x2 - x1) < abs(y2 - y1) * aspectRatio);\n\n        if (abs(x2 - x1) > maxWidth) {\n            x2 = x1 - maxWidth * (x2 < x1 || -1);\n            fixAspectRatio();\n        }\n\n        if (abs(y2 - y1) > maxHeight) {\n            y2 = y1 - maxHeight * (y2 < y1 || -1);\n            fixAspectRatio(true);\n        }\n\n        selection = { x1: selX(min(x1, x2)), x2: selX(max(x1, x2)),\n            y1: selY(min(y1, y2)), y2: selY(max(y1, y2)),\n            width: abs(x2 - x1), height: abs(y2 - y1) };\n\n        update();\n\n        options.onSelectChange(img, getSelection());\n    }\n\n    function selectingMouseMove(event) {\n        x2 = /w|e|^$/.test(resize) || aspectRatio ? evX(event) : viewX(selection.x2);\n        y2 = /n|s|^$/.test(resize) || aspectRatio ? evY(event) : viewY(selection.y2);\n\n        doResize();\n\n        return false;\n\n    }\n\n    function doMove(newX1, newY1) {\n        x2 = (x1 = newX1) + selection.width;\n        y2 = (y1 = newY1) + selection.height;\n\n        $.extend(selection, { x1: selX(x1), y1: selY(y1), x2: selX(x2),\n            y2: selY(y2) });\n\n        update();\n\n        options.onSelectChange(img, getSelection());\n    }\n\n    function movingMouseMove(event) {\n        x1 = max(left, min(startX + evX(event), left + imgWidth - selection.width));\n        y1 = max(top, min(startY + evY(event), top + imgHeight - selection.height));\n\n        doMove(x1, y1);\n\n        event.preventDefault();\n\n        return false;\n    }\n\n    function startSelection() {\n        $(document).unbind('mousemove', startSelection);\n        adjust();\n\n        x2 = x1;\n        y2 = y1;\n\n        doResize();\n\n        resize = '';\n\n        if (!$outer.is(':visible'))\n            $box.add($outer).hide().fadeIn(options.fadeSpeed||0);\n\n        shown = true;\n\n        $(document).unbind('mouseup', cancelSelection)\n            .mousemove(selectingMouseMove).one('mouseup', docMouseUp);\n        $box.unbind('mousemove', areaMouseMove);\n\n        options.onSelectStart(img, getSelection());\n    }\n\n    function cancelSelection() {\n        $(document).unbind('mousemove', startSelection)\n            .unbind('mouseup', cancelSelection);\n        hide($box.add($outer));\n\n        setSelection(selX(x1), selY(y1), selX(x1), selY(y1));\n\n        if (!(this instanceof $.imgAreaSelect)) {\n            options.onSelectChange(img, getSelection());\n            options.onSelectEnd(img, getSelection());\n        }\n    }\n\n    function imgMouseDown(event) {\n        if (event.which != 1 || $outer.is(':animated')) return false;\n\n        adjust();\n        startX = x1 = evX(event);\n        startY = y1 = evY(event);\n\n        $(document).mousemove(startSelection).mouseup(cancelSelection);\n\n        return false;\n    }\n\n    function windowResize() {\n        doUpdate(false);\n    }\n\n    function imgLoad() {\n        imgLoaded = true;\n\n        setOptions(options = $.extend({\n            classPrefix: 'imgareaselect',\n            movable: true,\n            parent: 'body',\n            resizable: true,\n            resizeMargin: 10,\n            onInit: function () {},\n            onSelectStart: function () {},\n            onSelectChange: function () {},\n            onSelectEnd: function () {}\n        }, options));\n\n        $box.add($outer).css({ visibility: '' });\n\n        if (options.show) {\n            shown = true;\n            adjust();\n            update();\n            $box.add($outer).hide().fadeIn(options.fadeSpeed||0);\n        }\n\n        setTimeout(function () { options.onInit(img, getSelection()); }, 0);\n    }\n\n    var docKeyPress = function(event) {\n        var k = options.keys, d, t, key = event.keyCode;\n\n        d = !isNaN(k.alt) && (event.altKey || event.originalEvent.altKey) ? k.alt :\n            !isNaN(k.ctrl) && event.ctrlKey ? k.ctrl :\n            !isNaN(k.shift) && event.shiftKey ? k.shift :\n            !isNaN(k.arrows) ? k.arrows : 10;\n\n        if (k.arrows == 'resize' || (k.shift == 'resize' && event.shiftKey) ||\n            (k.ctrl == 'resize' && event.ctrlKey) ||\n            (k.alt == 'resize' && (event.altKey || event.originalEvent.altKey)))\n        {\n            switch (key) {\n            case 37:\n                d = -d;\n            case 39:\n                t = max(x1, x2);\n                x1 = min(x1, x2);\n                x2 = max(t + d, x1);\n                fixAspectRatio();\n                break;\n            case 38:\n                d = -d;\n            case 40:\n                t = max(y1, y2);\n                y1 = min(y1, y2);\n                y2 = max(t + d, y1);\n                fixAspectRatio(true);\n                break;\n            default:\n                return;\n            }\n\n            doResize();\n        }\n        else {\n            x1 = min(x1, x2);\n            y1 = min(y1, y2);\n\n            switch (key) {\n            case 37:\n                doMove(max(x1 - d, left), y1);\n                break;\n            case 38:\n                doMove(x1, max(y1 - d, top));\n                break;\n            case 39:\n                doMove(x1 + min(d, imgWidth - selX(x2)), y1);\n                break;\n            case 40:\n                doMove(x1, y1 + min(d, imgHeight - selY(y2)));\n                break;\n            default:\n                return;\n            }\n        }\n\n        return false;\n    };\n\n    function styleOptions($elem, props) {\n        for (var option in props)\n            if (options[option] !== undefined)\n                $elem.css(props[option], options[option]);\n    }\n\n    function setOptions(newOptions) {\n        if (newOptions.parent)\n            ($parent = $(newOptions.parent)).append($box.add($outer));\n\n        $.extend(options, newOptions);\n\n        adjust();\n\n        if (newOptions.handles != null) {\n            $handles.remove();\n            $handles = $([]);\n\n            i = newOptions.handles ? newOptions.handles == 'corners' ? 4 : 8 : 0;\n\n            while (i--)\n                $handles = $handles.add(div());\n\n            $handles.addClass(options.classPrefix + '-handle').css({\n                position: 'absolute',\n                fontSize: 0,\n                zIndex: zIndex + 1 || 1\n            });\n\n            if (!parseInt($handles.css('width')) >= 0)\n                $handles.width(5).height(5);\n\n            if (o = options.borderWidth)\n                $handles.css({ borderWidth: o, borderStyle: 'solid' });\n\n            styleOptions($handles, { borderColor1: 'border-color',\n                borderColor2: 'background-color',\n                borderOpacity: 'opacity' });\n        }\n\n        scaleX = options.imageWidth / imgWidth || 1;\n        scaleY = options.imageHeight / imgHeight || 1;\n\n        if (newOptions.x1 != null) {\n            setSelection(newOptions.x1, newOptions.y1, newOptions.x2,\n                newOptions.y2);\n            newOptions.show = !newOptions.hide;\n        }\n\n        if (newOptions.keys)\n            options.keys = $.extend({ shift: 1, ctrl: 'resize' },\n                newOptions.keys);\n\n        $outer.addClass(options.classPrefix + '-outer');\n        $area.addClass(options.classPrefix + '-selection');\n        for (i = 0; i++ < 4;)\n            $($border[i-1]).addClass(options.classPrefix + '-border' + i);\n\n        styleOptions($area, { selectionColor: 'background-color',\n            selectionOpacity: 'opacity' });\n        styleOptions($border, { borderOpacity: 'opacity',\n            borderWidth: 'border-width' });\n        styleOptions($outer, { outerColor: 'background-color',\n            outerOpacity: 'opacity' });\n        if (o = options.borderColor1)\n            $($border[0]).css({ borderStyle: 'solid', borderColor: o });\n        if (o = options.borderColor2)\n            $($border[1]).css({ borderStyle: 'dashed', borderColor: o });\n\n        $box.append($area.add($border).add($areaOpera)).append($handles);\n\n        if (msie) {\n            if (o = ($outer.css('filter')||'').match(/opacity=(\\d+)/))\n                $outer.css('opacity', o[1]/100);\n            if (o = ($border.css('filter')||'').match(/opacity=(\\d+)/))\n                $border.css('opacity', o[1]/100);\n        }\n\n        if (newOptions.hide)\n            hide($box.add($outer));\n        else if (newOptions.show && imgLoaded) {\n            shown = true;\n            $box.add($outer).fadeIn(options.fadeSpeed||0);\n            doUpdate();\n        }\n\n        aspectRatio = (d = (options.aspectRatio || '').split(/:/))[0] / d[1];\n\n        $img.add($outer).unbind('mousedown', imgMouseDown);\n\n        if (options.disable || options.enable === false) {\n            $box.unbind('mousemove', areaMouseMove).unbind('mousedown', areaMouseDown);\n            $(window).unbind('resize', windowResize);\n        }\n        else {\n            if (options.enable || options.disable === false) {\n                if (options.resizable || options.movable)\n                    $box.mousemove(areaMouseMove).mousedown(areaMouseDown);\n\n                $(window).resize(windowResize);\n            }\n\n            if (!options.persistent)\n                $img.add($outer).mousedown(imgMouseDown);\n        }\n\n        options.enable = options.disable = undefined;\n    }\n\n    this.remove = function () {\n        setOptions({ disable: true });\n        $box.add($outer).remove();\n    };\n\n    this.getOptions = function () { return options; };\n\n    this.setOptions = setOptions;\n\n    this.getSelection = getSelection;\n\n    this.setSelection = setSelection;\n\n    this.cancelSelection = cancelSelection;\n\n    this.update = doUpdate;\n\n    var msie = (/msie ([\\w.]+)/i.exec(ua)||[])[1],\n        opera = /opera/i.test(ua),\n        safari = /webkit/i.test(ua) && !/chrome/i.test(ua);\n\n    $p = $img;\n\n    while ($p.length) {\n        zIndex = max(zIndex,\n            !isNaN($p.css('z-index')) ? $p.css('z-index') : zIndex);\n        if ($p.css('position') == 'fixed')\n            position = 'fixed';\n\n        $p = $p.parent(':not(body)');\n    }\n\n    zIndex = options.zIndex || zIndex;\n\n    if (msie)\n        $img.attr('unselectable', 'on');\n\n    $.imgAreaSelect.keyPress = msie || safari ? 'keydown' : 'keypress';\n\n    if (opera)\n\n        $areaOpera = div().css({ width: '100%', height: '100%',\n            position: 'absolute', zIndex: zIndex + 2 || 2 });\n\n    $box.add($outer).css({ visibility: 'hidden', position: position,\n        overflow: 'hidden', zIndex: zIndex || '0' });\n    $box.css({ zIndex: zIndex + 2 || 2 });\n    $area.add($border).css({ position: 'absolute', fontSize: 0 });\n\n    img.complete || img.readyState == 'complete' || !$img.is('img') ?\n        imgLoad() : $img.one('load', imgLoad);\n\n    if (!imgLoaded && msie && msie >= 7)\n        img.src = img.src;\n};\n\n$.fn.imgAreaSelect = function (options) {\n    options = options || {};\n\n    this.each(function () {\n        if ($(this).data('imgAreaSelect')) {\n            if (options.remove) {\n                $(this).data('imgAreaSelect').remove();\n                $(this).removeData('imgAreaSelect');\n            }\n            else\n                $(this).data('imgAreaSelect').setOptions(options);\n        }\n        else if (!options.remove) {\n            if (options.enable === undefined && options.disable === undefined)\n                options.enable = true;\n\n            $(this).data('imgAreaSelect', new $.imgAreaSelect(this, options));\n        }\n    });\n\n    if (options.instance)\n        return $(this).data('imgAreaSelect');\n\n    return this;\n};\n\n})(jQuery);\n","output":"str","x":500,"y":120,"wires":[["e9f1a991db6997dd"]]},{"id":"072a24e9e6c4ca1f","type":"http in","z":"5f984b1e39a7e344","name":"","url":"/css/imgareaselect-default.css","method":"get","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["71985f4418172a00"]]},{"id":"71985f4418172a00","type":"template","z":"5f984b1e39a7e344","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/*\n * imgAreaSelect default style\n */\n\n.imgareaselect-border1 {\n\tbackground: url(border-v.gif) repeat-y left top;\n}\n\n.imgareaselect-border2 {\n    background: url(border-h.gif) repeat-x left top;\n}\n\n.imgareaselect-border3 {\n    background: url(border-v.gif) repeat-y right top;\n}\n\n.imgareaselect-border4 {\n    background: url(border-h.gif) repeat-x left bottom;\n}\n\n.imgareaselect-border1, .imgareaselect-border2,\n.imgareaselect-border3, .imgareaselect-border4 {\n    filter: alpha(opacity=50);\n\topacity: 0.5;\n}\n\n.imgareaselect-handle {\n    background-color: #fff;\n    border: solid 1px #000;\n    filter: alpha(opacity=50);\n    opacity: 0.5;\n}\n\n.imgareaselect-outer {\n    background-color: #000;\n    filter: alpha(opacity=50);\n    opacity: 0.5;\n}\n\n.imgareaselect-selection {  \n}","output":"str","x":500,"y":160,"wires":[["22e1444a1994f2e2"]]},{"id":"e9f1a991db6997dd","type":"http response","z":"5f984b1e39a7e344","name":"","statusCode":"","headers":{"content-type":"text/javascript"},"x":670,"y":120,"wires":[]},{"id":"22e1444a1994f2e2","type":"http response","z":"5f984b1e39a7e344","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":670,"y":160,"wires":[]}]